/*common style 2016-08-04*/
html,body,h1,h2,h3,h4,h5,h6,div,p,img,a,form,input,textarea,ul,li,dl,dt,dd{margin: 0;padding: 0;list-style: none;font-family: "Microsoft Yahei";}

.noMargin{margin: 0!important;}
.noPadding{padding:0!important;}
.noPaddingL{padding-left: 0;}
.noPaddingR{padding-right: 0;}
.miniPadding{padding: 0 10px!important;}
.miniPaddingL{padding-left: 10px;}
.miniPadding{padding: 0 10px;}
.miniPaddingR{padding-right: 10px;}
.miniMarginL{margin-left: 10px;}
.minPaddingL{padding-left: 5px;}
.minPaddingR{padding-right: 5px;}
.textRight{text-align: right;}

.lightCr{color: #999999;}
.themeCr{color: #fc6b00!important;}
.handleBtn{display: inline-block;width: 2rem;height: 0.9rem;line-height: 0.9rem;text-align: center;font-size: 14px;border-radius: 3px;
	margin-top: 0.3rem;}
.delBtn{color: #333333;background: #e6e7e8;}
.dealIng{color: #fff;background: #fc6b00;}
.dealSuccess{color: #fff;background: #1ab394;}
input.formBtn,a.formBtn{width: 100%;height: 1.2rem;border: 0;font-size: 0.5rem;
	margin-top: 0.4rem;animation: 0;transition-duration:0;transition:inherit}
a.formBtn{display: inline-block;text-align: center;line-height: 1.2rem;border-radius: 3px;}
input.subBtn,a.subBtn{background: #fc6b00;color: #fff;}
input.nonePay,a.nonePay{background: #f8ac59;color: #fff;}  
input.paySuccess,a.paySuccess{background: #1ab394;color: #fff;} 
input.payDel,a.payDel{background: #e6e7e8;border: 1px solid #c9c9c9;color: #666666;}

:-moz-placeholder { 
    color: #aaaaaa;font-family: "Microsoft Yahei"!important;font-size: 0.4rem  
}
::-moz-placeholder { 
    color: #aaaaaa;font-family: "Microsoft Yahei"!important;;font-size: 0.4rem
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #aaaaaa;font-family: "Microsoft Yahei"!important;;font-size: 0.4rem
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaaaaa;font-family: "Microsoft Yahei"!important;;font-size: 0.4rem
}

/*start*/
.star{display: inline-block;width: 20px;height: 20px;padding-right: 3px;}
.star img{width: 20px;height: 20px;vertical-align: middle;}

.mui-content{max-width: 640px;margin: 0 auto;}
.mui-slider-indicator .mui-indicator{background: #fff;border-color: #d2d2d2;box-shadow: none;width: 8px;height: 8px;}
.mui-slider-indicator .mui-active.mui-indicator{background: #7accbe;border-color: #7accbe;}

/*userCenter*/
.userCenterTop{background: #fc6b00;padding: 0.4rem 0;text-align: center;overflow: hidden;}
.userCenterTop .followWrap{color: #fff;font-size: 24px;margin-top: 0.5rem;}
.userCenterTop .followWrap .num{font-size: 45px;color: #fff;line-height: 0.7rem;font-family: "宋体";}

.uerPic img{width: 120px;height: 120px;border:2px solid #f9f9fb;border-radius: 100%;}
.userFollowBtn{display: inline-block;width: 2.8rem;height:1rem;background: #ffffff;text-align: center;line-height: 1rem;
	border-radius: 5px;color: #fc6b00;font-size: 0.45rem;margin-top: 0.3rem;}

.followWrap .txt{color: #fff;margin-top: 0.3rem;font-size: 0.45rem;}
.userCenterTop .followWrap div{border-right: 1px solid #fed3b3;}
.userCenterTop .followWrap div:last-child{border-right: 0;}

.userInfoList .mui-table-view{padding: 6px 15px;margin-top: 0.4rem;}
.userInfoList .mui-table-view:before,.userInfoList .mui-table-view:after{background: none;}
.userInfoList .mui-table-view a{color: #333;}
.userInfoList .mui-table-view-cell{padding: 11px 0px;}
.userInfoList .icon{width: 25px;margin-right: 3px;margin-top: -3px;}
.userInfoList .mui-navigate-right:after, .mui-push-right:after{font-size: 0.6rem;}

.followList .mui-ellipsis{white-space: normal;padding: 5px 0;}
.followList .mui-media-object{width: 80px;border-radius: 100%;}

.followBtn{display: inline-block;width: ;}
.follow{display: inline-block;width: 2.8rem;height:1rem;background: #fc6b00;text-align: center;line-height: 1rem;
	border-radius: 5px;color: #fff;font-size: 0.45rem;}
.delFollowBtn{background: #dadada;color: #666666;}
.followList .mui-table-view-cell{padding: 22px 15px;}

.topTogNav{overflow: hidden;}
.topTogNav a{display: inline-block;width: 50%;float: left;background: #e1e1e1;color: #333333;
	height: 1.4rem;line-height: 1.4rem;text-align: center;font-size: 0.5rem;}
.topTogNav a.active{background: #6eb92a;color: #fff;}

.expertList{position: inherit;background: none;}
.expertList .mui-media-object{width: 60px;border-radius: 100%;max-width: 60px;height: 60px;}
.expertList .mui-media-body .lightCr{font-size: 0.4rem;margin-left: 3px;}
.expertList .mui-media-body .time{font-size: 0.4rem;margin-left: 0;}
.expertList .mui-media-body {max-width: 5.5rem;}
.expertList .mui-media-body .mui-ellipsis{color: #666666;}
.expertList .mui-table-view-cell{padding-right: 0;margin-top: 0.4rem;background: #fff;}
.expertList .mui-ellipsis{padding: 0.05rem 0;}
.expertList .mui-table-view-cell:after{background: none;}
.expertList .mui-pull-right{margin-right: 15px;}
.expertList .mui-table-view-cell a{margin: 0;padding: 0;display: inline-block;width: 100%;}

.questionIntro{clear: both;color: #333333;padding-top: 10px;font-size: 0.35rem;overflow: hidden;
	white-space: normal;line-height: 0.5rem;}

.expertModule{text-align: center;padding: 0.3rem 0;background: #fff;font-size: 0.4rem;color: #999999;}
.expertModule .expertPic{width: 3rem;height: 3rem;border-radius: 100%;}
.expertModule .name{font-size: 0.5rem;margin: 10px 0;color: #333;}
.expertModule .name .lightCr{font-size: 0.38rem;}
.expertModule .major{font-size: 0.45rem;color: #666666;margin-bottom: 10px;margin-top: 5px;}
.expertModule .time{font-size: 0.4rem;}

.expertInfoUl{padding: 0 15px;overflow: hidden;padding: 0.5rem 0 0.3rem;}
.expertInfoUl .tit{font-size: 0.45rem;line-height: 0.6rem;}
.expertInfoUl .details{font-size: 0.45rem;color: #fc6b00;margin-top: 5px;line-height: 0.6rem}
.expertInfoUl li{border-right: 1px solid #e6e7e8;}

.expertInfoModule{background: #fff;margin-top: 0.4rem;}
.expertInfoModule h2{height: 1.2rem;line-height: 1.2rem;border-bottom: 1px solid #d7d7d7;
	text-align: center;font-size: 0.5rem;font-weight: normal;}
.expertInfoModule .con{padding: 15px;}
.expertInfoModule .con p{font-size: 0.38rem;line-height: 0.6rem;color: #333333;}

.viewWays{margin-top: 0.4rem;text-align: center;padding-bottom: 0.5rem;overflow: hidden;}
.viewWays .viewCon{background: #fff;padding: 15px 0;}
.viewWays li{padding: 0 5px;}
.viewWays .viewIcon{display: inline-block;width: 1.5rem;height: 1.5rem;border: 1px solid #fc6b00;padding: 10px;
	border-radius: 100%;line-height: 1.5rem;}
.viewWays .viewIcon img{display: inline-block;vertical-align: baseline;max-width: 100%;}
.viewWays .viewText{font-size: 0.4rem;color: #333;line-height: 1rem;}
.viewWays .price{font-size: 0.3rem;}
.viewWays .price .themeCr{font-size: 0.45rem;}

.expertComment{background: #fff;margin-top: 0.4rem;}
.expertComment .commentTit{height: 1.2rem;line-height: 0.9rem;font-size: 0.45rem;border-bottom: 1px solid #e1e1e1;
	padding: 0 15px;}
.expertComment .commentTit .tit{display: inline-block;margin-right: 10px;}
.commentArea{padding: 10px;height: 2.5rem;border: none;}
.expertComment .commentTit img{vertical-align: sub;margin-top: 6px;}
.expertComment .commentTit .star{margin-top: 6px;}

/*userInfo*/
.nickForm{margin: 15px 0;border:1px solid #e0e0e0;overflow: hidden;height: 40px;}
.nickForm .inp{width: 100%;border: none;height: 40px;border-radius: 0;}
.nickForm .sub{width: 20%;float: left;border: none;height: 40px;background: #fc6b00;border-radius: 0;}
.nickForm .mui-input-row{width: 80%;float: left;}

.bankForm{margin: 10px 0;clear: both;}
.cardList .list{margin-bottom: 5px;margin-top: 5px;}
.cardList {overflow: hidden;}
.cardList .list .listCon{background: #fff;padding-top: 12px;padding-bottom: 10px;}
.cardList .list .name{background: #fff;padding-bottom: 12px;color: #666;}

.balanceForm{background: #fff;margin: 10px 0;color: #666666;font-size: 0.4rem;}
.balanceForm .formLine{border-bottom: 1px solid #dfdfdf;padding: 15px 0;padding-left: 15px;}
.balanceForm .last{border-bottom: 0;}
.balanceForm .formLine p{line-height: 0.6rem;}
.balanceForm .inp{margin-top: 10px;width: 96%;}

.orderTable{background: #fff;margin-top: 10px;}
.orderTable thead th{border: none;}

.rewardForm .formBtn{margin: 25px 0 15px 0;clear: both;}
.setReward{font-size: 0.4rem;}
.setReward .inp{width: 2rem;height: 32px;vertical-align: middle;margin-top: 10px;}


.viptag{display: inline-block;padding: 0 10px;background: #6eb92a;color: #fff;font-size: 0.35rem;border-radius: 3px;}
/*full page*/
.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #efeff4;
}
.mui-pages {
	top: 46px;
	height: auto;
}
.mui-scroll-wrapper,
.mui-scroll {
	background-color: #efeff4;
}
.mui-page.mui-transitioning {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
}
.mui-page-left {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.mui-ios .mui-page-left {
	-webkit-transform: translate3d(-20%, 0, 0);
	transform: translate3d(-20%, 0, 0);
}
.mui-navbar {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
	height: 44px;
	background-color: #f7f7f8;
}
.mui-navbar .mui-bar {
	position: absolute;
	background: transparent;
	text-align: center;
}
.mui-android .mui-navbar-inner.mui-navbar-left {
	opacity: 0;
}
.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
	opacity: 0;
}
.mui-navbar .mui-btn-nav {
	-webkit-transition: none;
	transition: none;
	-webkit-transition-duration: .0s;
	transition-duration: .0s;
}
.mui-navbar .mui-bar .mui-title {
	display: inline-block;
	width: auto;
}
.mui-page-shadow {
	position: absolute;
	right: 100%;
	top: 0;
	width: 16px;
	height: 100%;
	z-index: -1;
	content: '';
}
.mui-page-shadow {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}
.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
	-webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
	transition: opacity 300ms ease, transform 300ms ease;
}
.mui-page {
	display: none;
}
.mui-pages .mui-page {
	display: block;
}
.mui-page .mui-table-view:first-child {
	margin-top: 15px;
}
.mui-page .mui-table-view:last-child {
	margin-bottom: 30px;
}
.mui-table-view {
	margin-top: 20px;
}

.mui-table-view span.mui-pull-right {
	color: #999;
}
.mui-table-view-divider {
	background-color: #efeff4;
	font-size: 14px;
}
.mui-table-view-divider:before,
.mui-table-view-divider:after {
	height: 0;
}
.head {
	height: 40px;
}
#head {
	line-height: 40px;
}
.head-img {
	width: 40px;
	height: 40px;
}
#head-img1 {
	position: absolute;
	bottom: 10px;
	right: 40px;
	width: 40px;
	height: 40px;
}
.update {
	font-style: normal;
	color: #999999;
	margin-right: -25px;
	font-size: 15px
}
.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}
.mui-ios .mui-navbar .mui-bar .mui-title {
	position: static;
}

/*member 会员*/
.memborBuy{background: #fff;overflow: hidden;margin: 15px 0;padding: 0 15px 15px;}
.memborBuy h2{font-size: 0.5rem;line-height: 1.2rem;}
.memberUl li .con{background: #f2f3f3;color: #666666;padding: 10px 0;}
.memberUl li{padding-left: 0;}
.memberUl li.active .con{background: #6eb92a;color: #fff;}
.memberUl li.active .price{color: #fff;}
.memberUl{overflow: hidden;margin-right: -15px;text-align: center;}
.memberUl h3{font-size: 0.4rem;line-height: 0.8rem;margin-bottom: 5px;}
.memberUl .price{font-size: 0.6rem;color: #666666;}
.memborBuy table{ border-collapse: collapse;}
.memborBuy table tr td{background: #deead4;font-size: 0.35rem;}
.memborBuy table th,.memborBuy table td{border:1px solid #fff}
.memborBuy table th{font-size: 0.45rem;font-weight: normal;background: #6eb92a;white-space: nowrap;color: #fff;}
.memborBuy table tr:nth-of-type(2n) td{background: #d1e1c4 ;}
























