/*.epayHeader{height: 1.5rem;background: #fff;}*/
/*.epayHeader a,.epayHeader h1{font-size: 0.5rem;line-height: 1.5rem;color: #333;}*/
.clear:after{
    display: block;
    content: '';
    clear: both;
    overflow: hidden;
}
.clear{zoom:1}
a{color: #333;text-decoration: none;}
a:hover{color: #333;text-decoration: none;}
.mui-table-view-cell.mui-active{background: #fff;}
.mui-content{padding-bottom: 20px;}
.borderBottom{border-bottom: 1px solid #e0e0e0}

.search{margin: 0.5rem;margin-bottom: 0;}
.orange{color: #fc6b00;}
.orange:hover{color: #fc6b00}
.green{color: #6eb92a;}
.green:hover{color: #6eb92a;}
.borderOrange{border-color: #fc6b00!important;}
.borderGreen{border-color: #6eb92a!important;}
.borderRadius{border-radius: 50%;}

/*社区*/
.communityHeader div{padding: 0.45rem 0;text-align: center;background: #e1e1e1;font-size: 0.5rem;line-height: 0.5rem;}
.communityHeader div:first-child{border-right: 1px solid #fff;}
.communityHeader div a{display: block;}
.communityHeader div img{width: 12%;vertical-align: middle}
.communityHeader div span{vertical-align: middle}
.communityList ul li{margin-top: 0.4rem;background: #fff;padding: 0.4rem;}
.communityList ul li img{border-radius: 50%;}
.communityList ul li span{color: #999;font-size: 0.35rem;line-height: 0.6rem}
.communityList ul li h3{font-size: 0.5rem;line-height: 0.7rem;padding: 0.25rem 0;}
.communityList ul li p{font-size: 0.4rem;line-height: 0.6rem;color: #666;padding-bottom: 0.25rem;}
.communityList ul li .col-xs-10 div{font-size: 0.35rem;color: #999;}
.communityList ul li .col-xs-10 div a{color: #999;}

.communityHeader div.active{background: #6eb92a;}
.communityHeader div.active a{color: #fff;}

.publish div{padding: 0.4rem 0.4rem 0 0.4rem;background: #fff;font-size: 0.45rem;}
.publish div label{font-size: 0.4rem;padding-bottom: 0.3rem;}
.publish div input,.publish div textarea{margin: 0;background: #f7f7f7;border-color: #dadada;}
.btn-green{background: #6eb92a!important;width: 2.8rem;height:1rem;color: #fff!important;border: 1px solid #6eb92a!important;}
input.btn-orange{display: block;width: 100%;background-color: #fc6b00;border-color: #fc6b00;border-radius: 0;height: 1.4rem;font-size: 0.5rem;}

/*发布任务*/
.questionPublish{margin-top: 0.3rem;background: #fff;padding: 0.3rem 0;}
.tag{background: #e2f1d4;color: #6eb92a;font-size: 0.3rem;padding: 0.1rem 0.3rem;display: inline-block;border-radius: 3px;}
.tag:hover{color: #6eb92a;}
.questionPublish>div{padding:0 0.3rem 0.3rem 0.3rem;}
.questionPublish h3{font-size: 0.5rem;line-height: 0.7rem;padding: 0.25rem 0.3rem;}
.questionPublish div .pull-left span{color: #999;font-size: 0.35rem;line-height: 0.55rem;}
.questionPublish div .pull-right span{color: #999;font-size: 0.35rem;line-height: 0.55rem;}
.focus{display: inline-block;background: #fc6b00;padding: 0.1rem 0.3rem;color: #fff;font-size: 0.35rem;border-radius: 4px;}
.focus.active{background: #dadada;color: #666;}
.questionPublish .col-xs-6 img{width: 15%;}
.questionPublish .col-xs-6{border: 1px solid #dadada;height: 2rem;vertical-align: middle;text-align: center;margin-bottom: 0.4rem;}
.questionPublish .col-xs-6 span{line-height: 2rem;}
.questionPublish ul li{margin:0 0.3rem;border-bottom: 1px solid #e0e0e0;padding: 0.3rem 0;}
.questionPublish ul li:last-child{border: none;}
.questionPublish ul li span{color: #999;font-size: 0.35rem;line-height: 0.5rem;}
.questionPublish ul li p{color: #333;font-size: 0.4rem;line-height: 0.65rem;padding-top: 0.4rem;}

/*回答问题*/
.addAnswer{background: #e0e0e0;padding: 0.5rem 0!important;font-size: 0.6rem;color: #666;text-align: center;margin-bottom: 0.4rem;}
.addAnswer img{width: 7%;}
.addAnswer span{vertical-align: middle}
#questionAnswer{display: none;margin-top: 0.3rem;}

/*话题*/
.topicList ul li{margin-top: 0.3rem;padding: .3rem;background: #fff;}
.topicList ul li h3{font-size: 0.5rem;line-height: 0.7rem;}
.topicList ul li p{font-size: 0.4rem;line-height: 0.6rem;padding: 0.2rem 0;}

/*话题内容*/
.topicDetail{margin-top: 0.3rem;padding: 0.3rem;background: #fff;}
.topicDetail>div{margin-bottom: 0.3rem;}
.topicDetail h3{font-size: 0.5rem;line-height: 0.7rem;margin-top: 0.25rem}
.topicDetail span{font-size: 0.35rem;line-height: 0.5rem;color: #999;}
.topicDetail .focus{margin-top: 0.25rem;}
.topicDetail p{color: #666;font-size: 0.4rem;line-height: 0.7rem;}

/*他的回答*/
.hisAnswer{margin-top: 0.3rem;}
.hisAnswer ul li{background: #fff;margin-bottom: 0.3rem;padding: 0.4rem 15% 0.4rem 0.4rem;}
.hisAnswer ul li span{color: #999;font-size: 0.4rem;line-height: 0.6rem;}
.hisAnswer ul li p{color: #666;font-size: 0.4rem;line-height: 0.6rem;margin-top: 0.2rem;}

/*他关注的*/
.concernList{margin-top: 0.3rem;}
.concernList ul li{position: relative;padding:0.5rem 0.3rem;margin-bottom: 0.3rem;}
.concernList ul li a{height: 1.4rem;line-height: 1.4rem;display: block}
.concernList ul li img{max-height: 1.4rem;}
.concernList .mui-navigate-right:after{font-size: 0.8rem;}

/*登录*/
.login{margin-top: 0.5rem;}
.login label{margin-bottom: 0;font-weight: normal;}
.login .mui-input-group{background: none;}
.login .mui-input-group:after{height: 0;}
.login .mui-input-group .mui-input-row{height: 1.6rem;background: #fff;}
.login .mui-input-group .mui-input-row input,.login .mui-input-group .mui-input-row label{height: 1.6rem;line-height: calc(1.6rem - 20px);}
.login .mui-input-group .mui-input-row label{padding-right: 0;}

/*专家咨询*/
.expertAdvice>div.clear{background: #fff;text-align: center;padding: 0.6rem 0;}
.expertAdvice>div.clear a{display: inline-block;font-size: 0.4rem;line-height: 0.5rem;padding: 0.2rem 0.4rem;border-radius: 4px;
    border: 1px solid transparent;}
.expertAdvice ul{margin-top: 0.4rem;}
.expertAdvice ul li{position: relative;}
.expertAdvice ul li a{display: block;padding: 0.2rem;}
.expertAdvice ul li .mask{position: absolute;left: 0;bottom: 0;background: rgba(0,0,0,.5);margin: 0.2rem;width: calc(100% - 0.4rem);
    color: #fff;padding: 0.2rem;font-size: 0.4rem;line-height: 0.45rem;}
.expertAdvice ul li .mask h4{font-size: 0.5rem;line-height: 0.5rem;}
.expertAdvice ul li .mask p{margin-top: 0.2rem;}
.expertAdvice ul li img{max-width: 100%;}


/*专家搜索*/
.expertList ul{margin-top: 0.3rem;}
.expertList ul li{padding:0.5rem 0.3rem;margin-bottom: 0.3rem;background: #fff;}
.expertList ul li a{display: block}
.expertList ul li h4{font-size: 0.4rem;line-height: 0.5rem;}
.expertList ul li div,.expertList ul li p{font-size: 0.35rem;line-height: 0.5rem;}
.expertList ul li p{margin: 0.15rem 0;}
.expertList ul li span{line-height: 1.7rem;}

/*订单确认*/
.orderSure h4{font-size: 0.35rem;line-height: 0.4rem;padding: 0.4rem 0.3rem;background: #f1f1f1;}
.orderSure h3{font-size: 0.45rem;line-height: 0.6rem;padding: 0.3rem 0.3rem 0;background: #fff;}
.orderSure>div{background: #fff;padding: 0.3rem 0.3rem 0.4rem;font-size: 0.45rem;line-height: 0.5rem;color: #666;}
.orderSure form div{background: #fff;padding: 0.3rem 0.3rem 0.4rem;}
.orderSure textarea{color: #666;}

.login .sure,.login .cancel{background: #fc6b00;height: auto!important;padding: 0.2rem 0.6rem;display: inline-block;border-radius: 4px;
    margin-top: 0.3rem;margin-right: 0.5rem;font-size: 0.4rem;line-height: 0.6rem!important;}
.login .cancel{background: #f1f1f1;color:#666;}
.btn-close{color:#fff;position: absolute;right: 0;top:0;background: #79ccbf;}
.btn-delete{display:none;color:#fff;position: absolute;width:100%;border-radius: 4px;font-size: 0.35rem;top:-0.8rem;left:0;padding: 0.1rem;background: #79ccbf;}
.btn-delete:hover,.btn-close:hover{color: #fff;}
.arrowDown{border-color:transparent;border-style: solid;border-top-color: #79ccbf;border-width: 5px 5px 0;width: 0;height: 0;
    position:absolute;left:calc(50% - 5px);bottom:-0.1rem;}
.addPic{width: 2rem;height: 2rem;border: 1px solid #e1e1e1;text-align: center;line-height: 2rem;margin-top: 0.3rem;}
.add{width: 65%;float: right;padding:10px;padding-left: 0;}
.add ul li{position: relative;padding:0 0.3rem 0 0;}
.login .select{width: 30%;float: left;height: 1.6rem;}

.addTag{height: 1rem;margin: 0.3rem 0;line-height: 1rem;background: #fc6b00;padding: 0 0.5rem;font-size: 0.35rem;color: #fff;border-radius: 4px;}
.addTag:hover{color: #fff;}
.tagList{padding:0.5rem 0 0.5rem 35%;}
.tagList>span{float:left;display: block;padding: 0.15rem 0.4rem;background: #e8e8e8;margin:5px;margin-left:0;border-radius: 4px;
    font-size: 0.35rem;line-height: 0.5rem;position: relative;}
.login textarea{border:1px solid #c8c7cc;width:95%;margin: 0.3rem auto;border-radius: 4px;}



